body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100%;
    gap: 10px;
}

div {
    border: gray 1px solid;
}

img {
    max-width: 100%;
    max-height: 100%
}

.sidebar {
    background-color: rgba(39, 156, 252, 0.726);
    grid-area: 1 / 1 / 2 / 2;
}

nav {
    background-color: bisque;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

nav > .nav-top {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.profile-options {
    display: grid;
    justify-content: end;
}

nav > .nav-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.nav-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
}

.content {
    background-color: rgb(223, 223, 223);
    grid-area: 1 / 2 / 2 / 3;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    flex-grow: 3;
}

.card {
    background-color: rgba(165, 42, 42, 0.185);
    height: auto;
    width: auto;
}

.content-bar {
    flex-grow: 4;
}